button {
	height: 100px;
	width: 200px;
	border-radius: 30px;
	transition: 0.3s ease;
}
.darkest {
	background-color: #A9A9A9;
}
.darker {
	background-color: #808080;
}

.lighter {
	background-color: #D3D3D3;
}

.grow {
	transform: scale(1.3);
}